body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c0f11;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 60%; /* adjust this value as needed */
    margin: auto; /* this will center the nav element */
}

#Infos {
    display: flex;
    align-items: center; /* this will vertically align the items in the middle */
    gap: 20px; /* this will create some space between the image and the text */
    margin-top: 50px; /* adjust as needed */
}

#Infos img {
    margin-right: 20px; /* this will create some space between the image and the text */
}

#Infos p, #beginning-sentence {
    font-family: system-ui, Roboto, "Helvetica Neue", sans-serif;
    font-size: 30px; /* adjust as needed */
    color: #a8adb2;
    width: 70%; /* adjust this value as needed */
    max-width: 600px; /* adjust this value as needed */
}

#beginning-sentence {
    color: #ffffff;
    white-space: nowrap;
}

nav #name a, nav #links a{
    text-decoration: none;
    font-family: system-ui, Roboto, "Helvetica Neue", sans-serif;
    color: #a8adb2;
}

#name {
    font-size: 20px;
    font-weight: bold;
}

#links a {
    text-decoration: none;
    color: #333;
}

img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center 25%;
    width: 142px;
    height: 142px;
}
@keyframes letter-highlight {
    0% {background-color: transparent; color: #a8adb2;}
    100% {background-color: rgb(214, 92, 44); color: #ffffff;}
}

.highlight {
    animation: letter-highlight 0.5s ease-in-out forwards;
    display: inline-block;
}

.highlight-typewriter {
    background-color: white;
    color: black;
}

@keyframes typewriter {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 60%;
    margin: 75px auto auto auto;
    gap: 20px;
}

#portfolio h1, #portfolio h2 {
    animation: typewriter 2s ease-in-out forwards;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 30px; /* adjust as needed */
    font-weight: normal;
    color: white;
    margin: 0;
    padding: 0;
}

#portfolio h1 {
    margin-bottom: 10px;
    font-size: 30px; /* adjust as needed */
    color: #d6d6d6;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    letter-spacing: 5px; /* adjust this value as needed */
    font-weight: bold;
}

#portfolio div {
    color: #a8adb2;
}

#portfolio div h3{
    color: #a8adb2;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-weight: 350;
    margin: 2px 0 0 1px;
    letter-spacing: 5px; /* adjust this value as needed */
}